{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div style="margin: 0px auto; max-width: 500px;">
	<h3 style="padding-top: 20px; padding-left:180px; padding-bottom:20px">
		{{title}}
	</h3>
	<form class="form form-horizontal" action="" method="post" name="help_others">
		{{ form.hidden_tag() }}

		{% for choice in poll.choices %}
		<div class="form-group">
			{{checkBoxName = 'choice'+ str(loop.index)+'_checked' }}
			 {{form.checkBoxName}} {{choice.content}}

			{% if loop.index == 1 %}
			{{  }}
			{% endif %}
	
		</div>
		{% endfor %}

		<p style="padding-left:180px"><input class="btn btn-primary" type="submit" value="Make The Decision"></p>
	</form>
</div>

{% endblock %}